<div class="wrapper content-page" style="top: 70px;">
        <div class="main-container content-page headerimage">
                <div class="content main">    
                    <!--Hearder Image Div Start-->
                    <div class="headerintro">
                        <!--Gaurav-->    
                        <div class="headerintro" id="content__header-intro">    
                            <!-- Modified here-->   
                            <div class="header-intro-container perspective-color">    
                                <div class="responsive-img-container">    
                                    <!--<img id="article-hero-img" class="responsive-img" src="./Policy corner _ Deloitte India _ About Deloitte_files/cq5dam.web.1400.350.desktop.jpeg" data-orgsrc="/content/dam/Deloitte/in/Images/header_images/in-ad-covid-banner.png" data-aspectratio="4:1" width="1400" height="350">-->
                                    <img id="article-hero-img" class="responsive-img" src="assets/ImageHead01.jpg" data-aspectratio="4:1" width="1400" height="350">
                                    
                                </div>
                            </div>
    
    
    
                        </div>
    
    
                    </div>
                    <!--Hearder Image Div End-->
                    <!--About Div Start-->
                    <div class="content-page-info perspective-color"  style="border-top: solid 7px #86bc25">

                        <div id="what-we-do" style="background-color: rgba(0,0,0,0.84); background-image:none">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="left-text">
                                            <h4>About Accelerator<br></h4>
                                            <p>Explain Accelerators.</p>
                                            <!--<ul>
                                                <li>
                                                    <div class="white-button">
                                                        <a href="#" class="scroll-link" data-id="portfolio">Discover More</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="primary-button">
                                                        <a href="#">Purchase Now</a>
                                                    </div>
                                                </li>
                                            </ul> -->
                                        </div>
                                    </div>
                                    <!--<div class="col-md-6">
                                        <div class="right-image">
                                            <img src="img/what-we-do-right-image.png" alt="">
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <!--<div class="left-content-section">
    
    
                            <div class="header-intro-container extended-info">
    
                                <div id="article-content-type" class="header-intro-label">
                                    <p>
                                        Article ABCDEF
                                    </p>
                                </div>
    
                            </div>
    
    
    
                        </div>-->
    
    
    
                    </div>
                    <!--About Div Ends-->
                       <!--Resource Div Start-->
                       <div class="content-page-info">
    
                        <div id="about" class="page-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-heading">
                                            <h4>Resources</h4>
                                            <div class="line-dec"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <!--A blanlk div to align two blocks in center-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="service-item first-service">
                                                    <div class="icon"></div>
                                                    <div id="myModal" class="modal">
        
                                                        <div class="modal-content">
                                                            <span class="close">&times;</span>
                                                            <p style="color:#000000"><a href="CRT Reference Guide v1.docx"> User Manual for ReviewD</a></p>
        
                                                        </div>
                                                    </div>
                                                    <h4 id="myDoc">
                                                        Documents
                                                    </h4>
                                                    <p>User Guide/Manuals.</p>
                                                </div>
                                            </div>
                                            <!--<div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="service-item second-service">
                                                    <div class="icon"></div>
                                                    <div id="myModalPpt" class="modal">
        
                                                        <div class="modal-content">
                                                            <span id="pptClose" class="close">&times;</span>
                                                            <p style="color:#000000" ;><a href="ReviewD.pptx"> ReiewD sales deck</a></p>
        
                                                        </div>
                                                    </div>
                                                    <h4 id="myPpt">
                                                        Presentations
                                                    </h4>
                                                    <p>Sales and technical decks.</p>
                                                </div>
                                            </div>-->
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="service-item third-service">
                                                    <div class="icon"></div>
                                                    <!--<div id="myModalVideos" class="modal">
        
                                                        <div class="modal-content">
                                                            <span id="vidClose" class="close">&times;</span>
                                                            <p style="color:#000000" ;><a href="ReviewD.pptx"> ReiewD sales deck</a></p>
        
                                                        </div>
                                                    </div>-->
                                                    <h4 id="myPpt">
                                                        Videos
                                                    </h4>
                                                    <p>Sales and technocal decks.</p>
                                                </div>
                                            </div>
        
        
                                        </div>
                                    </div>


                            </div>
    
    
                        </div>
    
    
    
                    </div>
                    <!--Resource Div Ends-->
                      <!--Contact Us Div Starts-->
                <div class="content-page-info">
                        <div id="contact" class="page-section">
                                <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="section-heading">
                                                    <h4>Contact Us</h4>
                                                    <div class="line-dec"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-6">
                                                        <div class="map">
                                                            <a style="color:whitesmoke"><b>Additional contact:</b> </a><br><br>
                                                            <a style="color:whitesmoke"><b>Devloper Name:ABC</b></a><br>
                                                            <a style="color:whitesmoke"><b>Devloper EmailID:ABC@deloitte.com</b></a><br>
                                                            <a style="color:whitesmoke"><b>Support person:ABC</b></a><br>
                                                            <a style="color:whitesmoke"><b>Support person EmailID:ABC@deloitte.com</b></a>
                                                           
                                                        </div>
                                                    </div>
                                            <div class="col-md-6">
                                              
                                                <table width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td width="34%" rowspan="3">
                                                                    <img src="C:\Priyanka\Asset portal\Asset Page\img\download.jpg" alt="" style="margin-left: 30px;" />
                                                                </td>
                                                                <td width="1%" rowspan="3">&#160;</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="28%" valign="top" style="padding: 5px;">
                                                                    <Right>
                                                                        <br />
                                                                        <a style="color:whitesmoke"><b>Parter/Director name</b></a>
                                                                        <br />
                                                                        <a style="color:whitesmoke"><b>Business Unit</b></a><br />
                                                                    </Right>
                                                                </td>
                                                            </tr>
                
                                                            <tr>
                                                                <td width="1%" rowspan="3">&#160;</td>
                                                                <td width="28%" valign="bottom" style="padding: 5px;">
                                                                    <right>
                                                                        <a style="color:whitesmoke">EmailID</a>
                                                                    </right>
                                                                </td>
                                                            </tr>
                
                                                    </table>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <!--Contact Us Div Starts-->
                   
                    
                </div>
    
            </div> 

       
        </div>